html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

sp-theme {
  background-color: var(--spectrum-global-color-gray-50);
  color: var(--spectrum-global-color-gray-900);
  height: 100vh;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

sp-split-view {
  margin: 0;
  padding: 0;
}
